<%- include('partials/header'); %>
    </head>
    <body>
        <%- include('partials/navbar'); %>
        <div class="container">
            <% if (type === 'USER' ) { %>
                <form method="post">
                    <div class="col-7">
                    <label for="firstname">Etunimi</label>
                    <input type="text" class="form-control mb-2" id="firstname" name="firstname" placeholder="Etunimi" required>
                    </div>
                    <div class="col-7">
                    <label for="lastname">Sukunimi</label>
                    <input type="text" class="form-control mb-2" id="lastname" name="lastname" placeholder="Sukunimi" required>
                    </div>
                    <div class="col-7">
                    <label for="contract">Sopimus</label>
                    <input type="text" class="form-control mb-2" id="contract" name="contract" placeholder="Sopimustyyppi">
                    </div>
                    <button type="submit" class="btn btn-primary" id="save" name="save" formaction="/artists/save" onclick="return confirm('Haluatko tallentaa artistin?')">Tallenna</button>
                </form>
            <% } %>
        </div>
    </body>
    </html>