<!-- View to show all bands -->
<%- include('partials/header'); %>
    </head>
    <body>
        <%- include('partials/navbar'); %>
        <div class="container">
            <% if (type === 'USER' ) { %>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Bändin id</th>
                                <th>Bändin nimi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var a of data) { %>
                                <tr>
                                    <td>
                                        <%= a.bandid%>
                                    </td>
                                    <td>
                                        <%= a.bandname %>
                                    </td>
                                </tr>
                                <%} %>
                        </tbody>
                    </table>
                </div>
                <% } %>
        </div>
    </body>
    </html>